.profile-upload {
  position: relative;
  width: 120px;
  height: 120px;
  
}

.profile-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: 0.2s;
}

.profile-label:hover {
  opacity: 0.8;
  border-color: #888;
}

.profile-label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #userProfileImg {
  display: none;
} */
