.badge {
    padding: 4px 12px;
    border-radius: 14px;
    font-size: 12px;
    color: var(--neutral-text);
    width: fit-content;
    margin-bottom: 8px;
}

.badge.food{
    background-color: var(--topic-label-food);
}

.badge.purchase{
    background-color: var(--topic-label-purchase);
}

.badge.contents{
    background-color: var(--topic-label-contents);
}

.badge.music{
    background-color: var(--topic-label-music);
}

.badge.activity{
    background-color: var(--topic-label-activity);
}
