*{
  margin:0;
  padding:0;
}

header {
  padding:1.3rem;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: #f4f5f7;
}

header .title {
  font-size: 24px;
  font-weight: 500;
}

#app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Primary 버튼 */
.btn-primary {
  width: 100%;
  height: 44px;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
  background-color: #7F6AEE;
}

.btn-primary:disabled {
  background-color: #ACA0EB;
}