

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f4f4f5;
  color: #111;
}

header {
  position: relative;
  background-color: #F4F5F7;
  border-bottom: 1px solid #000000;
  text-align: center;
  padding: 20px 0;
}

.back-arrow {
  float: left;
  left:10px;
  text-decoration: none;
  color: #333;
  border-left: 5px solid;
  border-bottom: 5px solid;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
}

.title{
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0; 
    text-align: center;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  padding-top: 60px;
}

input {
  padding: 10px;
  border: 1px solid #000000; /* ← solid 추가! */
  border-radius: 4px;
}

.btn-primary {
  background-color: #ACA0EB;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 0;
  width: 100%;
  font-weight: 600;
  cursor: pointer; 
  font-size:14px;
}

.btn-primary:hover {
  background-color: #7F6AEE;
}

a {
  color: #333;
  text-decoration: none;
}