.login__container{
    width: 360px;
    background: var(--sub-red);
    border-radius: 28px;
    padding: 40px 32px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.login__title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: var(--main-red);
    margin-bottom: 32px;
}

.login__field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login__field label{
    font-size: 14px;
    color: var(--main-green);
    margin-bottom: 8px;
}

.login__field input{
    padding: 14px;
    border: 2px solid var(--main-green);
    border-radius: 26px;
    background: #fff;
    font-size: 14px;
}

.login__btn{
    width: 100%;
    padding: 14px;
    background: var(--main-red);
    color: white;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    margin-top: 12px;
    font-size: 15px;
    transition: 0.2s;
}

.login__btn:disabled {
    background: var(--neutral);
}