.postListMain {
  width: 900px;
  margin: 0 auto;       /* 가로 기준 중앙 정렬 */
  display: flex;
  flex-direction: column;
  gap: 24px;            /* 배너와 리스트 사이 간격 */
}

/* 내부 요소들도 자동으로 중앙 정렬됨 */
.postListMain > * {
  width: 100%;
}

.floatingBtn__link_to_post_create {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: #8FB48C;
  color: white;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
  transition: 0.2s;
}

.floatingBtn__link_to_post_create:hover {
  background: #BF3B3B;
  transform: translateY(-4px);
}

/* postItem__ */
.postItemContainer{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 12px; 
}

.postItem {
    width: 240px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 20px;
    border: 2px solid #F2D0D0;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    margin-bottom: 6px;
}

.postItem .image {
    height: 170px;
    overflow: hidden;
}

.postItem .image .data{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postItem .text {
    display: flex;
    padding: 10px;
    gap: 12px;
}

.postItem .text .left {
    flex: 1;
}

.postItem .text .left .hashtag {
    background: #F2B6BB;
    padding: 4px 12px;
    border-radius: 14px;
    font-size: 12px;
    color: #BF3B3B;
    width: fit-content;
    margin-bottom: 8px;
}

.postItem .text .left .preview-body {
    margin: 0;
    color: #595959;
    line-height: 1.4;
}

.postItem .right {
    width: 70px;
    border-left: 3px solid #F2B6BB;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.postItem .right .author {
    color: #718C5E;
    font-weight: bold;
}

.postItem .right .logo{
    font-size: 22px;
}
