/* 게시글 작성 전체 영역 */
.post-create {
  width: 600px;
  margin: 80px auto;
  padding: 32px;
  background-color: #fff;
  border-radius: 12px;
}

.post-create h2 {
  text-align: center;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 600;
}

/* form 기본 구조 */
.post-create form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 라벨 스타일 */
.post-create label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

/* input & textarea 공통 */
.post-create input[type="text"],
.post-create textarea {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  background-color: #fafafa;
  transition: border 0.2s ease;
}

.post-create input[type="text"]:focus,
.post-create textarea:focus {
  outline: none;
  border-color: #b197fc; /* 연보라 */
}

/* textarea 크기 */
/* .post-create textarea {
  min-height: 180px;
  resize: vertical;
} */

/* 파일 업로드 input */
.post-create input[type="file"] {
  margin-top: 4px;
  font-size: 14px;
}


/* 버튼 */
.post-create .btn-primary {
  width: 100%;
  margin-top: 16px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  background-color: #7F6AEE; 
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.post-create .btn-primary:disabled {
  background-color: #ACA0EB; 
}

.helper-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FF0000;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0; 
    display: none;
}

.helper-text.show{
  display: block;
}

.helper-text.hide{
  display:  none;
}