:root {
  --tomato-main: #F2B6BB;
  --tomato-bg-light: #F2EDDC;
  --tomato-soft: #F2D0D0;
  --neutral-bg: #F2F2F2;
  --neutral-text: #595959;
  --topic-label-food: #FBD2A4;
  --topic-label-purchase: #f3b5f6;
  --topic-label-contents: #c3fab9;
  --topic-label-music: #FFE425;
  --topic-label-activity: #87C6DC;
}
